<div class="app-content">

  <md-grid-list cols="4" rowHeight="500px">
  <md-grid-tile
      *ngFor="let hero of heros"
      [colspan]="hero.cols"
      [rowspan]="hero.rows"
      >


      <md-card class="example-card">
      <md-card-header>
        <md-card-title>{{hero.name}}</md-card-title>
        <md-card-subtitle>{{hero.title}}</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/images/{{'hero'+hero.id}}.png" width="100px" height="100px">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>


      </md-card-content>
      <md-card-actions>
        <a md-raised-button (click)="navigate(hero.id)" color="primary">Hero Details</a>
        <button md-button (click)="openDialog()" color="accent">Launch dialog</button>
      </md-card-actions>
    </md-card>

  </md-grid-tile>
</md-grid-list>
</div>
